@page
@model WebApplication1.Pages.AddArticleModel

<html>
    <head>
        <title>Заголовок</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="~/ckeditor/ckeditor.js"></script>

    </head>
    <body>
    <form method="post">
        @Html.AntiForgeryToken()
        <h3>Введите название статьи</h3>
        <input type="text" name="Title" />
        <h3>Выберите категорию</h3>
        <select id="theme" name="Theme">
            <option value="Люди">Люди</option>
            <option value="Авто">Авто</option>
            <option value="Технологии">Технологии</option>
            <option value="Недвижимость">Недвижимость</option>
        </select>
        <h3>Введите текст статьи</h3>
        <textarea typeof="text" id="editor" name="Text"></textarea>
        <script>
            CKEDITOR.replace("editor");
        </script>
        <h3>Введите дату написания статьи</h3>
        <input type="text" name="Date" />

        <button type="submit">Отправить</button>
    </form>
    </body>
</html>