@page
@model OneThemeModel

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/normalize.css">
    <meta charset="UTF-8">
    <title>@Model.Theme</title>
</head>
<body>
    <header class="top_bar">
        <div class="website_name">
            <span class="eu">ЕВРО</span><span class="news">НОВОСТИ</span>
        </div>
    </header>

    <p class="news_category_name">Самые свежие новости в категории @Model.Theme</p>

    <div class="one_theme_main_container">
        @{
                for (int i = 0; i < 12; i++)
                {
                    <div class="small_block"></div>
                }
        }
    </div>
</body>
</html>

