@page
@model WebApplication1.Pages.SignInModel
<form method="post">
    <input asp-for="Login" />

    <input asp-for="Password" type="password" />

    <button type="submit">
        Войти
    </button>
</form>
