html {
    font-family: "Roboto";
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto');
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }

body {
    background-color: #D3D3D3;
}

.section_box_text {
    margin-bottom: 20px;
}

.section_box_title {
     font-size: 84px;
    margin: 0;
    text-align: center;
    font-family: 'Roboto-Bold';
}

.base_section_text {
    text-align: left;
    font-size: 18px;
    width: 1000px;
    margin: 0;
    margin: 0 auto;
}

header {
    text-align: right;
    margin-bottom: 20px;
}

li {
    display: inline;
    margin-right: 100px;
}

textarea {
    width: 100%;
    height: 400px;
    min-width: 100px;
    max-width: 500px; /* Ограничение для удобства чтения и ввода текста */
}

input{
    width: 80%;
}

